main{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.carouselSection{
    width: 100%;
    height: auto;
    padding: 1rem 5rem;
    background-color: #f4f1f1;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel{
    width: 1000px;
    min-width: 1000px;
    display: flex;
    align-items: center;
    overflow: hidden;
    height: 31.25rem;
    transition: all 0.3s ease-in-out;
}

.imgContainer{
    width: 1000px;
    min-width: 1000px;
    height: 100%;
}

.imgContainer img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

i{
    font-size: 1.7rem;
    color: #f4f1f1;
    background-color: transparent;
    border: none;
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    text-align: center;
}

.carousel:hover ~ i{
    color: white;
    text-shadow: 0 0 10px gray;
}

i:hover{
    color: white;
    text-shadow: 0 0 10px gray;
    cursor: pointer;
}

i:active{
    transform: scale(1.1);
}

.leftButton{
    position: absolute;
    top: 50%;
    left: 18%;
}

.rightButton{
    position: absolute;
    top: 50%;
    right: 18%;
}

.dots{
    position: absolute;
    bottom: 7%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.dot1, .dot2, .dot3{
    width: 0.7rem;
    height: 0.7rem;
    border-radius: 50%;
    background-color: gray;
}

.dot1:active, .dot2:focus, .dot3:focus{
    background-color: white;
}

.thinkSection{
    width: 100%;
    height: 18.75rem;
    background-color: #981F49;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.thinkHeading{
    font-size: 2.5rem;
}

.thinkDetails{
    width: 55%;
    text-align: center;
    font-size: 1.125rem;
    line-height: 1.8rem;
    font-family: "Source Sans 3", "PT Sans", "Inter";
}

.buttons{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.buttons button{
    width: 17%;
    height: 3.5rem;
    font-weight: 700;
    font-size: 0.9rem;
    background-color: transparent;
    border: 3px solid white;
    color: white;
    transition: all 0.3s ease-in-out;
}

.buttons button:hover{
    background-color: white;
    color: #981F49;
}

.details{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f4f1f1;
    padding: 4rem 0 0 0;
    font-family: "Source Sans 3", "PT Sans", "Inter";
}

.sampleDetails{
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    font-size: 1rem;
    padding-bottom: 2rem;
    border-bottom: 1px solid rgb(128, 128, 128, 0.5);
}

.sample1{
    color: #991F48;
}

.sample2, .sample3{
    color: #5C5C5C;
}

@media screen and (max-width: 321px){
    .carousel{
        width: 300px;
        min-width: 300px;
        height: 20rem;
    }

    .imgContainer{
        width: 300px;
        min-width: 300px;
        height: 100%;
    }

    
    .leftButton{
        position: absolute;
        top: 50%;
        left: 4%;
    }

    .rightButton{
        position: absolute;
        top: 50%;
        right: 4%;
    }
}

@media screen and (min-width: 321px) and (max-width: 426px){
    .carousel{
        width: 400px;
        min-width: 400px;
        height: 20rem;
    }

    .imgContainer{
        width: 400px;
        min-width: 400px;
        height: 100%;
    }

    .leftButton{
        position: absolute;
        top: 50%;
        left: 4%;
    }

    .rightButton{
        position: absolute;
        top: 50%;
        right: 4%;
    }
}

@media screen and (max-width: 426px){
    .thinkSection{
        height: auto;
        padding: 2rem 0.5rem;
    }

    .thinkHeading{
        width: 70%;
        font-size: 1.5rem;
        text-align: center;
    }

    .thinkDetails{
        width: 80%;
    }

    .buttons{
        flex-direction: column;
    }

    .buttons button{
        width: 80%;
    }

    .sampleDetails{
        width: 80%;
    }
}

@media screen and (min-width: 426px) and (max-width: 769px){
    .carousel{
        width: 700px;
        min-width: 700px;
        height: 20rem;
    }

    .imgContainer{
        width: 700px;
        min-width: 700px;
        height: 100%;
    }

    .leftButton{
        position: absolute;
        top: 50%;
        left: 4%;
    }

    .rightButton{
        position: absolute;
        top: 50%;
        right: 4%;
    }

    .thinkHeading{
        font-size: 2rem;
    }

    .buttons button{
        width: 30%;
    }

    .sampleDetails{
        width: 80%;
    }
}
